html,
body {
    height: 100%;
}

html {
    font-size: 62.5%;
    line-height: 2.5rem;
    background-color: $white;
    position: relative;
}

body {
    color: $text-color;
    font-size: 1.6rem;
    line-height: $base-lineheight;
    letter-spacing: $base-letter-spacing;
    font-weight: 500;
}

body,
input,
textarea,
select,
button {
    font-family: $font-family;
}

.icon-s {
    font-size: $fontsize-s;
}

.icon-m {
    font-size: $fontsize-m;
}

.icon-l {
    font-size: $fontsize-xxxl;
}

.icon-xxl {
    font-size: $fontsize-xxxxl;
}

.weather-overview {
    float: left;
    font-size: $fontsize-l;
    margin: 30px;
    text-align: center;
}

.weather-details {
    text-align: right;
    margin: 10px;
}

.weather-details-label {
    font-size: $fontsize-s;
    font-style: italic;
    margin-right: 10px;
    text-transform: uppercase;
}

.weather-details-data {
    font-weight: bold;
}

.weather-details-description {
    margin-top: 10px;
    margin-bottom: 10px;
}

.weather-temperature {
    margin-top: 20px;
    font-weight: bold;
}
