.news-container {
    display: flex;
    width: 800px;
    height: 300px;
   // color: white;
   // background-color: #ff5555;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: left 4s;
    transition-timing-function: ease-in-out;
    transform: translateZ(0);

    > .news-thumb {
        width: 300px;
        height: 300px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    > .news-content {
        width: 500px;
        margin: 8px;

        > .news-title {
            font-size: $fontsize-l;
            color: #9cbe67;
        }
    }
}
