.news-container {
    display: flex;
    width: 710px;
    height: 230px;
   // color: white;
   // background-color: #ff5555;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: left 4s;
    transition-timing-function: ease-in-out;
    transform: translateZ(0);

    > .news-thumb {
        width: 230px;
        height: 230px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    > .news-content {
        width: 480px;
        padding: 10px;
        text-align: justify;

        > .news-title {
            font-size: $fontsize-l;
            color: #9cbe67;
            text-align: left;
        }
    }
}
