.widget-container {
    display: block;
    margin: .5rem;
    padding: .5rem;
    color: white;
    overflow: hidden;
    position: relative;

    >.widget-title {
        font-size: $fontsize-l;
    }

    &.color-light {
        background-color: $lightblue;
    }

    &.size-1x05 {
        width: 200px;
        height: 300px;
    }

    &.size-1x1 {
        width: 400px;
        height: 300px;
    }

    &.size-1x2 {
        width: 800px;
        height: 300px;
    }

}
