// Base (cause no one can survive without black & white)
$transparent: transparent !default;
$white: #fff !default;
$black: #000 !default;

// Colors
$darkblue: #072747;
$darkerblue: #2F2727;
$darkgrey: #333;

$lightturquoise: #1abc9c;
$darkturquoise: #16a085;
$lightgreen: #2ecc71;
$darkgreen: #27ae60;
$lightblue: #3498db;
$darkerlightblue: #2980b9;
$lightviolet: #9b59b6;
$darkviolet: #8e44ad;
$lightdarkgrey: #34495e;
$darkdarkgrey: #2c3e50;
$lightyellow: #f1c40f;
$darkyellow: #f39c12;
$lightorange: #e67e22;
$darkorange: #d35400;
$lightred: #e74c3c;
$darkred: #c0392b;
$lightlightgrey: #ecf0f1;
$lightgrey: #bdc3c7;
$concrete: #95a5a6;
$darkconcrete: #7f8c8d;
//Textcolor
$text-color: $darkgrey !default;

// Breakpoint Definitions (SCSS-List)
$breakpoints: (
    '(max-width: 479px)' 'xs',
    '(min-width: 480px)' 's',
    '(max-width: 767px)' 'sm',
    '(min-width: 768px)' 'm',
    '(min-width: 768px) and (max-width: 999px)' 'm-only',
    '(max-width: 999px)' 'ml',
    '(min-width: 1000px)' 'l',
    '(max-width: 1199px)' 'lxl',
    '(min-width: 1200px)' 'xl'
);

// Fonts
$font-family: 'Roboto', sans-serif !default;

$base-fontsize: 1.6rem !default;
$base-lineheight: 1.375 !default;
$base-letter-spacing: -.02rem !default;

$fontsize-xs: 1.2rem !default;
$fontsize-s: 1.4rem !default;
$fontsize-m: 1.8rem !default;
$fontsize-m-alt: 2.1rem !default;
$fontsize-l: 2.8rem !default;
$fontsize-l-alt: 2.4rem !default;
$fontsize-xl: 3.2rem !default;
$fontsize-xxl: 3.6rem !default;
$fontsize-xxxl: 4.8rem !default;
$fontsize-xxxxl: 8rem !default;
