<widget-wrapper title="Wetter" size="m">
    <div *ngIf="data" class="widget">
        <div class="weather-overview">
            <div><i class="wi {{data.iconClass}} icon-xxl"></i></div>
            <div class="weather-temperature">
                <i class="fa fa-thermometer-three-quarters fa-lg"></i> {{data.temperature}}
            </div>
        </div>
        <div class="weather-details">
            <div><i class="fa fa-map-marker fa-lg"></i> Bremen, DE</div>
            <div class="weather-details-description">{{data.condition}}</div>
            <div>
                <span class="weather-details-label">Feuchtigkeit</span>
                <span class="weather-details-data">{{data.humidity}} %</span>
            </div>
            <div>
                <span class="weather-details-label">Luftdruck</span>
                <span class="weather-details-data">{{data.pressure}} hpa</span>
            </div>
            <div>
                <span class="weather-details-label">Wind</span>
                <span class="weather-details-data">{{data.wind}} m/s</span>
            </div>
            <div>
                <i class="wi wi-sunrise icon-s"></i>
                <span class="weather-details-data">{{data.sunrise | date: 'shortTime'}} Uhr</span>
            </div>
            <div>
                <i class="wi wi-sunset icon-s"></i>
                <span class="weather-details-data">{{data.sunset | date: 'shortTime'}} Uhr</span>
            </div>
        </div>
    </div>
</widget-wrapper>



